small[data-fv-for="has_images"]{
  position:absolute;
  left:0;
  top:0;
}

.imagens-step-content .form-group.fv-plugins-icon-container{
  position:absolute;
  right:24px;
  top:0;
}

.imagens-step-content .fv-plugins-icon{
  position: absolute;
  right: -34px;
  text-align: center;
  top: -5px;
}

.categorias-step-content .fv-plugins-icon{
  position: absolute;
  right: -9px;
  text-align: center;
  top: -9px;
}

.__sortable-list{
  height:350px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      ███████╗    ██╗    ███████╗    ███████╗    ███████╗
      ██╔════╝    ██║    ╚══███╔╝    ██╔════╝    ██╔════╝
      ███████╗    ██║      ███╔╝     █████╗      ███████╗
      ╚════██║    ██║     ███╔╝      ██╔══╝      ╚════██║
      ███████║    ██║    ███████╗    ███████╗    ███████║
      ╚══════╝    ╚═╝    ╚══════╝    ╚══════╝    ╚══════╝
                                                        
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.__dimensions tr td{
  padding-bottom:3px;
}

.__dimensions tr th{
  font-weight:500;
}

.checkbox-decorator{
  padding:0!important;
}

.checkbox .checkbox-decorator{
  position:relative;
  margin:auto!important;
}
